body {
  background-color: white;
}
.title {
  text-align:center;
  font-weight:bold;
  font-family:"Times";
 }
.slack {
  font-style:italic;
  text-align:center;
}
#second {
  margin-left:37px;
  background-color:white;
}
#first {
  background-color:#D3D3D3;
  margin-top:50px;
  margin-left:200px;
  margin-bottom:50px;
  padding:40px;
}
#shift {
  margin-left:140px;
  text-align:left;
}
#final {
  text-align:center;
  margin-bottom:10px;
}